<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Serve static files (assets, favicon, etc.) directly -->
        <rule name="Static Files" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <!-- Rewrite everything else to index.html for React Router -->
        <rule name="React Router" stopProcessing="true">
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
